@tailwind base;
@tailwind components;
@tailwind utilities;
/* debug */
/* * {
  box-sizing: border-box;
  background-color: rgb(0 100 0 / 0.05) !important;
} */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-wrap: pretty;
}
html {
  scroll-behavior: smooth;
}
/* global styles */
body {
  section {
    scroll-margin-top: 130px;
  }
  h1,
  h2,
  h6 {
    @apply text-Dark;
  }
  img {
    &[alt="curve"] {
      @apply rounded-none;
    }
    @apply rounded-lg;
  }
  p {
    @apply text-Gray lg:text-[20px] text-base leading-9;
  }
  input,
  button,
  svg,
  textarea,
  a {
    transition: all 0.3s;
    outline: none;
  }
}

/* ------------------------------------------------------------------- */
header {
  .navbar-links {
    a {
      @apply text-Gray text-lg font-semibold hover:text-Dark relative;
      &::after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 2px;
        background: black;
        transition: all 0.3s;
        right: 0;
      }
      &:hover::after {
        width: 100%;
        left: 0;
      }
      &.active {
        @apply text-Dark;
        &::after {
          width: 100%;
          left: 0;
        }
      }
    }
  }
  #mobile-menu {
    @apply bg-white overflow-hidden max-h-0;
    &.active {
      @apply max-h-[500px];
    }
    ul {
      @apply flex flex-col items-center gap-4 py-4 shadow-xl  bg-white w-full left-0 -z-10;
    }
  }
  .logo {
    width: 120px;
  }
}

/* hero section */
#home {
  .company-states {
    @apply flex gap-20 w-full items-center [&_div]:space-y-4 [&_h6]:!text-Gray text-center;
    h1 {
      @apply !text-Gray md:text-5xl text-3xl;
    }
  }
}

/* services seciton */
#services {
  .service-card {
    @apply flex gap-12 items-start [&_p]:text-base [&>div]:space-y-4 [&>img]:w-12 text-pretty;
    h6 {
      @apply font-semibold lg:text-2xl text-lg;
    }
  }
}

/* accordion section */
.accordion-item {
  .accordion-content {
    @apply h-0 overflow-hidden transition-all duration-300;
    &.active {
      height: auto !important;
    }
  }
  button {
    @apply border-b justify-between flex w-full font-semibold py-6 !text-xl shadow *:!text-Dark;
    span {
      @apply rotate-0 transition-all duration-300 text-3xl;
    }
    &.active span {
      @apply rotate-45;
    }
  }
}

/* how it works section */
.step {
  @apply flex gap-10 [&>div:first-child]:flex [&>div:first-child]:gap-y-4 [&>div]:flex-col [&>div]:items-center [&>div:last-child]:space-y-6;
  h1 {
    @apply md:text-3xl text-2xl font-bold;
  }
  p {
    font-weight: 600;
  }
  .icon {
    @apply rounded-full p-4 bg-Dark [&>img]:min-w-6;
  }
  .line {
    @apply h-full bg-Gray w-[2px];
  }
}

/* swiper-section */
#reviews {
  .swiper-container {
    @apply relative rounded-tl-xl pl-6 pt-6 rounded-sm max-xl:!p-0 2xl:bg-white;
    .review-card {
      @apply bg-Dark p-16 rounded-xl space-y-10;
      p {
        color: white !important;
        font-weight: 600;
      }
      .user {
        @apply flex gap-4 items-center [&>div]:space-y-2 [&_h6]:text-white [&_p]:!text-xs [&_p]:!text-Gray [&>img]:rounded-full;
      }
    }
  }
  .swiper-controls {
    @apply absolute left-0 bottom-0 max-xl:-bottom-20 bg-white rounded-tr-lg;
    button {
      @apply bg-stone-100 rounded-sm p-4 hover:bg-stone-200;
    }
  }
}

/* contact section */
#contact {
  &.form-section {
    @apply xl:w-1/2 w-[80%] mx-auto -bottom-11 relative text-center bg-white rounded-md p-3;
  }
  #popup {
    @apply fixed top-0 left-1/2 -translate-x-1/2 bg-Dark rounded-lg duration-500 p-4 w-fit mx-auto transition-all -translate-y-[200%] [&>h2]:!text-white z-10;
  }
}

/* footer */
footer {
  @apply py-32 max-sm:!pb-10 bg-Dark !mt-0;
  .social-media {
    @apply flex items-center gap-4 !space-y-0;
    .media-logo {
      @apply flex justify-center items-center rounded-sm bg-Gray hover:bg-stone-700 size-8 [&_img]:rounded-none;
    }
  }
  ul li {
    @apply [&_p]:!text-base;

    h6 {
      @apply text-white;
    }
    a {
      @apply text-stone-400 hover:text-Gray;
    }
  }
}
